body {
    font-family: Arial, sans-serif;
    background-color: #F2F2F2;
  }
  
  header {
    background-color: #68a6d9;
    display: grid;
    text-align: center;
    align-items: center;
    padding: 30px;
  }
  
  
  nav ul {
    list-style-type: none;
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 18px;
    margin: 50px;
    padding: 0;
    display: grid;
    justify-content: space-between;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
  }
  
  main {
    max-width: 800px;
    margin:20px auto;
    padding: 20px;
    background-color: rgb(198, 226, 233);
    box-shadow: 0px 0px 10px #BBB;
  
  }
  
  h1 {
    text-align: center;
    flex: auto;
    color: #cc2d22;
  }
  h2 {
    text-align: right flex;
    list-style-type: square;
    color: #1cbced;
  }
  
  section p {
    line-height: 1.5;
    margin: 20px 0;
  }
  
  section ul {
    list-style-type: square;
    margin-left: 20px;
    line-height: normal;
  }
footer li{
  text-align: right;
  color: green;
  display: grid;
  ;
}